{% extends 'base.html' %}

{% block title %} Edit Note {% endblock %}

{% block content %}
<h1>Edit Note</h1>
<form id="edit-note-form" method="POST" class="mt-4" action="/notes/{{ note.id }}/update">
  {{ form.hidden_tag() }}

  {% for field in form
  if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>
  {% endfor %}
  <button class="btn btn-secondary" type="submit">Edit Note</button>
</form>
{% endblock %}