{% extends 'base.html' %}

{% block title %}
User Details
{% endblock %}

{% block content %}
<h1 class="display-2">{{ user.username }}</h1>

<ul>
  <li>{{ user.first_name }}</li>
  <li>{{ user.last_name }}</li>
  <li>{{ user.email }}</li>
</ul>

<h1 class="display-5">Notes:</h1>
<ul>
  {% for note in notes %}
  <li>
    <a href="/notes/{{ note.id }}/update">{{ user.note }}</a>
    <a class="btn btn-danger" href="/notes/{{ note.id }}/delete">Delete</a>
  </li>
  {% endfor %}
</ul>

<form>
  <button
  class="btn btn-info"
  formaction="/users/{{ user.username }}/notes/add"
  formmethod="POST">Add Note</button>
  <button
  class="btn btn-danger"
  formaction="/users/{{ user.username }}/delete"
  formmethod="POST">Delete User</button>
  <button
  class="btn btn-primary"
  formaction="/" formmethod="GET">Back To Home</button>
</form>
{% endblock %}